venv/
__pycache__/
*.pyc
preprocessed/
data/CICIDS2017/
data/demo_raw.csv
data/demo_raw_2.csv
data/demo_sample*.csv
notebooks/sample.ipynb
notebooks/visualizations/
project_tree.txt
models/cnn_*.keras
models/gru_*.keras
models/lstm_*.keras
models/mlp_model.keras
models/deepguard_model.keras
models/TUN1_*.keras
models/TUN3_*.keras
models/TUN4_*.keras
models/BILSTM_TUN*.keras
models/bilstm_model.keras
models/threshold.pkl
models/threshold_plot.png
models/bilstm_threshold.npy
models/mlp_threshold.npy
models/lstm_threshold.npy